<div class="section ">
  <div class="container big-screen" >
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" >
      <div class="col-md-4 mt-3 Cloth" *ngFor="let item of items">
        <div class="card">
          <img
            [src]="item.image"
            class="card-img-top img-fluid"
            alt="... "
          />
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
