<div class="section">
  <div class="d-flex pt-5">
    <div class="side-bar  pl-4">
      <div class="scrolling pt-5">
        <p class="mt-5 ml-2 mr-2 justify-content-center font-weight-bold">
          Size
        </p>
        <div class="mt-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1"> Small </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Medium
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1"> Large </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              X-large
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1"> All </label>
          </div>
        </div>
        <p class="m-2 justify-content-center font-weight-bold">Top type</p>
        <div class="mt-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              T-Shirts
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Blouses
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Shirts
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Crop Tops
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Sweaters
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Hoodies
            </label>
          </div>
        </div>
        <p class="m-2 justify-content-center font-weight-bold">Outerwear</p>
        <div class="mt-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Jackets
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2"> Coats </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Parkas
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2"> Vests </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Raincoats
            </label>
          </div>
        </div>
        <p class="m-2 justify-content-center font-weight-bold">Bottom Type</p>
        <div class="mt-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1"> Jeans </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Trousers
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Shorts
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Skirts
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Sweatpants
            </label>
          </div>
        </div>
        <p class="m-2 justify-content-center font-weight-bold">
          Dresses and Suits
        </p>
        <div class="mt-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Dresses
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Jumpsuits
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Rompers
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Blazers
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1"> Suits </label>
          </div>
        </div>
        <p class="m-2 justify-content-center font-weight-bold">Undergarments</p>
        <div class="mt-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Boxers
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Undershirts
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Long Johns
            </label>
          </div>
        </div>
        <p class="m-2 justify-content-center font-weight-bold">Footwear</p>
        <div class="mt-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Sneakers
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2"> Boots </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1"> Flats </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2"> Heels </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Loafers
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="middle-bar">
      <div class="scrolling">
        <div class="Phone-side">
          <div class="col-md-6" (click)="goToFilterd('new')">
            <div class="card flex-md-row mb-4 manage h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0 pl-4">
                  <a class="text-dark  " href="#">New</a>
                </h3>
              </div>
              <img
                class="card-img-right flex-auto image  justify-content-center d-md-block"
                data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]"
                src="assets/images/ladies/download (1).jpg"
                data-holder-rendered="true"
                style="width: 200px; height: 250px"
              />
            </div>
          </div>
          <div class="col-md-6 " (click)="goToFilterd('accesories')">
            <div class="card  mb-4  h-md-250 manage">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0 pl-4 pr-4">
                  <a class="text-dark " href="#">Accesories</a>
                </h3>
              </div>
              <img
                class="card-img-right flex-auto image justify-content-center d-md-block"
                data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]"
                src="assets/images/man/download.png"
                data-holder-rendered="true"
                style="width: 200px; height: 250px"
              />
            </div>
          </div>
          <div class="col-md-6" (click)="goToFilterd('shoes')">
            <div class="card flex-md-row mb-4 manage h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0 pl-4">
                  <a class="text-dark " href="#">shoes</a>
                </h3>
              </div>
              <img
                class="card-img-right flex-auto image  justify-content-center d-md-block"
                data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]"
                src="assets/images/ladies/boots.png"
                data-holder-rendered="true"
                style="width: 200px; height: 250px"
              />
            </div>
          </div>
          <div class="col-md-6" (click)="goToFilterd('clothes')">
            <div class="card flex-md-row mb-4 manage h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0 pl-4">
                  <a class="text-dark" href="#">clothes</a>
                </h3>
              </div>
              <img
                class="card-img-right flex-auto d-md-block image justify-content-center"
                data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]"
                src="assets/images/man/ggg.png"
                data-holder-rendered="true"
                style="width: 200px; height: 250px"
              />
            </div>
          </div>
          <div class="col-md-6" (click)="goToFilterd('undergarments')">
            <div class="card flex-md-row mb-4 manage h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0 pl-4">
                  <a class="text-dark" href="#">Undergarments</a>
                </h3>
              </div>
              <img
                class="card-img-right flex-auto image  justify-content-center d-md-block"
                data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]"
                src="assets/images/man/mvs.png"
                data-holder-rendered="true"
                style="width: 200px; height: 250px"
              />
            </div>
          </div>
          </div>

            </div>
              <div class="big-screen container" >
                <div class="row">
                  <div *ngFor="let item of pageItems " class="col-md-4 mt-3 cloth">
                      <div class="card" >
                        <img
                          [src]="item.image"
                          class="card-img-top"
                          alt="... "
                        />
                        <div class="card-body">
                          <h5 class="card-title">{{ item.title }}</h5>
                          <p class="card-text">{{ item.description }}</p>

                      </div>
                    </div>
              </div>
            </div>

            <div class="pagination pt-5">
              <button
                *ngFor="let page of [].constructor(totalPages()); let i = index"
                [class.active]="i + 1 === presentPage"
                (click)="changePage(i + 1)">
                {{ i + 1 }}
              </button>
            </div>
        </div>
      </div>
    </div>

  </div>

