<footer id="contact" class="mb-5">
  <div class="container p-5">
    <div class="card p-3">
      <div class="card-body px-5 text-center">
        <p class="lead">
          contact use if you have any question.
        </p>

        <form>
          <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email Address">
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" id="name" placeholder="Enter Name" >
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" id="subject" placeholder="Enter Subject" >
          </div>

          <div class="mb-3">
            <textarea  class="form-control"  aria-label="with textarea"  placeholder="Enter Message"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</footer>

