/* You can add global styles to this file, and also import other style files */
@media (min-Width : 790px) {
  .card img
  {
    justify-content: center;
     width: 100%;
     height: 350px;
  }
  

}
